.custom-form-group{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}
.custom-form-group label{
    margin: 0;
    white-space: nowrap;
}
.custom-form-group input{
    width: 250px;
}
.custom-form-group.vertical{
    flex-direction: column;
}

.custom-table thead th{
    background-color: #d6ecff;
    text-align: center;
    font-weight: bold;
}

.custom-table tbody tr th{
    font-weight: 400;
}
.receipt{
    width: 300px;
    padding: 10px;
    font-size: 14px;
}
@media print{
    body{
        margin: 0;
    }

    .receipt{
        width: 300px;
    }
}